.profile-info {
    display:grid;
    grid-template-columns: 100px 1fr;
    margin-bottom: 1rem;
    align-items: center;
}
.profile-info input {
    padding: 8px;
}
.form-container {
    width:75%;
    max-width: 900px;
    margin: auto;
    margin-bottom: 3rem;
}
.form-container h3 {
    margin: 1.5rem 0;
}
.image-container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    
    width:200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1.5rem;
}
.image-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;

}
.form input {
    outline:none;
}
.form {

}
.profile-info {
    /* border:1px solid red; */
    /* width:100%; */
}