*, *::before, *::after {
  box-sizing: border-box;
  word-spacing: .125rem;
  letter-spacing: .025em;
}
html, body, #root {
  height: 100%;
  /* border:1px solid red; */
}
body {
  display: flex;
  flex-direction: column;
  /* height:  */
}
.main-container {
  flex:1;
  width:100%;
  padding-top:3rem;
  padding-bottom: 2rem;
  background-color: hsl(220, 20%, 98%);
  /* border:1px solid orange; */
}