*, *::before, *::after {
  box-sizing: border-box;
  word-spacing: .125rem;
  letter-spacing: .025em;
}
body {
  min-height: 100vh;
  margin:0;
  position: relative;
  /* border:1px solid red; */
}
body::after {
  content: '';
  display: block;
  height: 9rem;
}
.main-container {
  width:100%;
  padding-top:3rem;
  padding-bottom: 2rem;
  background-color: hsl(220, 20%, 98%);
  /* border:1px solid orange; */
}