* {
  box-sizing: border-box;
  word-spacing: .25rem;
  letter-spacing: .025em;

}
.main-container {
  width:100%;
  padding-top:3rem;
  padding-bottom: 2rem;
  background-color: hsl(220, 20%, 98%);
  /* border:1px solid orange; */
}