.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.popup-box {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    max-width: 400px;
    width: 90%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.icon-container {
    position: relative;
    width: 64px;
    height: 64px;
    margin-top: -4rem;
    margin-bottom: 1.5rem;
    justify-self: center;
    /* align-content: center; */
    /* text-align: center;
    width:fit-content;
    height: fit-content; */
    background-color: rgb(255, 225, 225);
    /* border:1px solid black; */
    border-radius: 50%;
    color:red;
}
.icon {
    position: absolute;
    top:57.5%;
    left:50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid green; */
    padding:0;
    font-size: 32px;
    text-align: center !important;
    vertical-align: middle;
    font-size: 32px;
}
.popup-box h3 {
    margin-bottom: 1rem;
}
.text {
    margin-bottom: 1.5rem;
}

.popup-buttons {
    display: flex;
    flex-direction: row;
    gap:12px;
    justify-content: center;
    /* justify-content: space-around; */
    /* margin-top: 1.5rem; */
}

.cancel-button {
    background-color: #ddd;
    border: none;
    padding: 1rem 2rem;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.btn-grid {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    position:static;
    justify-self: end;
    gap:10px;
    width: fit-content;

    /* border:5px solid red; */
}
.btn-block {
    color:white;
    border:none;
    padding:10px;
    width:82px;
    background-color: rgb(255, 177, 75);
    border-radius: 4px;
    cursor:pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: 0.3s ease;
}
.btn-block:hover {
    background-color: hsl(34, 100%, 55%);

}

.confirm-delete-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.confirm-edit-button {
    background-color: rgb(255, 177, 75);;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 8px;
    cursor: pointer;
}
.edit-popup-box {
    /* display:block; */
    /* flex-direction: column; */
    position: relative;
    background:white;
    padding:2rem;
    width: 80vw;
    max-width: 900px;
    /* justify-content: center; */
    margin:auto;
    /* height: 85vh; */
    height: 85vh;
    /* border:5px solid red; */
    overflow-y:scroll;
    border-radius: 8px;
}
.edit-container {
    background-color: blue;
}
.confirmed {
    position: fixed;
    top:4rem;
    right:2rem;
    width:fit-content;
    height: 4rem;
    /* border:1px solid hsl(0, 0%, 80%); */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 6px;
    overflow: hidden;
    /* background-color: rgb(255, 225, 225); */
    background-color:#defade;
    z-index: 10;
}
.confirm-message {
    display: flex;
    text-align: center;
    align-self: center;
    margin: 1.5rem;
    font-size: 16px;
    /* border:1px solid blue; */

}
.countdown {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: rgb(162, 255, 175);
    /* transform: translateX(); */
}
.animate {
    animation: slideIn 2s linear forwards;
}
@keyframes slideIn {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}
.container-link {
    /* display:block; */
    /* height: fit-content; */
    color: black;
    text-decoration: none;
    /* overflow: hidden; */
    /* border:1px solid red; */
}

.container {
    margin:auto;
    margin-bottom: 1.5rem;
    height:295px;
    min-width: 500px;
    max-width: 750px;
    overflow: hidden;
    border:1px solid hsl(0, 0%, 80%);
    /* border:1px solid red; */
}
.grid {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    height:350px;
    gap:0;
    /* border:1px solid blue; */
    max-width: 900px;
}
.image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    /* border:2px solid orange; */
}
.image-container img {
    display:block;
    width:100%;
    height:100%;
    object-fit: cover;
    background-repeat: no-repeat;
    object-position: center;
    /* border:1px solid red; */
}
.preview-box {
    box-sizing: border-box;
    width: 100%;
    max-width: 450px;
    height: 100%;
    /* max-height: 10px; */
    padding:0px 30px;
    display:flex;
    flex-direction: column;
    gap:.85rem;
    object-fit: contain;
    /* border:1px solid red; */
}
.top-grid {
    display:grid;
    grid-template-columns: 40px max-content;
    gap:6px;
    width:100%;
    height:auto;
    margin-top:1.875rem;
    font-size: 12px;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    /* border:1px solid green; */
}
.top-grid img {
    display:flex;
    width:32px;
    height:auto;
    border-radius: 50%;
    align-self: center;
    /* border:3px solid orange; */
}
.dropdown {
    width:fit-content;
    height: fit-content;
    position: absolute;
    right:0;
    /* transform: translate(-30px); */
    /* border:3px solid red; */
    text-align: right;
}
.more {
    font-size: 20px;
    z-index: 50;
    cursor:pointer;
    width:fit-content;
    display:flex;
    text-align: right;
    justify-self: right;
    border: none;
    background-color: white;
    /* position: absolute; */
    /* border:1px solid blue; */
}
/* .more:focus ~ .dropdown-content {
    display: flex;
} */
.dropdown-content {
    position: relative;
    display:flex;
    flex-direction: column;
    /* border:1px solid greenyellow; */
    border-radius: 2px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
/* .dropdown-content:hover {
    display:flex
} */
.dropdown-content button {
    width: 100px;
    height: fit-content;
    padding: 10px;
    border:none;
    background-color: white;
    cursor:pointer
}
.dropdown-content:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.dropdown-content:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.dropdown-content button:hover {
    background-color: aliceblue;
}
/* .more:hover ~ .dropdown-content{
    display:block;
} */
.top {
    display:flex;
    flex-direction: column;
    /* border:1px solid red; */
}
.title {
    display: -webkit-box;
    height: 48px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5rem;
    overflow: hidden;
    cursor:pointer;
    transition: 0.3s ease;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    /* border:1px solid red; */
}
.title:hover {
    color: hsl(0, 0%, 60%);
}
.content {
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1rem;
    height: 98px;
    width: 100%;
    flex-grow: 1;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* number of lines */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    transition: 0.3s ease;
    /* border:1px solid blue; */
}
.content:hover {
    color: hsl(0, 0%, 60%);
}
.bottom {
    /* position: absolute; */
    bottom: 0;
}
.meta {
    /* position: relative; */
    /* width:100%; */
    /* bottom:24px; */
    display:grid;
    font-size: 11px;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
    border-top:1px solid hsl(0, 0%, 80%);
    /* border:1px solid red; */
    align-items: center;
    padding-top: 12px;
}
.comments {
    justify-self: start;
    /* border:1px solid orange; */
}
.likes {
    justify-self: end;

    /* border:1px solid rgb(255, 106, 0); */
}

