.loading-container {
    display:flex;
    flex-direction: column;
    width:fit-content;
    padding:5rem;
    margin:3rem 0;
    /* border:1px solid #cccccc; */
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    justify-self: center;
    align-items: center;
}
.not-found {
    display:flex;
    flex-direction: column;
    width:fit-content;
    padding:8rem;
    margin:8rem 0;
    /* border:1px solid #cccccc; */
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    justify-self: center;
    align-items: center;
}
.not-found h1 {
    font-size: 128px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.not-found p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.not-found button {
    padding:1.5rem 2.5rem;
    background-color: antiquewhite;
    border:none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    cursor:pointer;
    transition: 0.3s ease;
}
.not-found button:hover {
    background-color: hsl(34, 100%, 81%);
}
.container {
    width:95%;
    height: fit-content;
    max-width: 1080px;
    margin:auto;
    display:grid;
    grid-template-columns: 3fr 1fr;
    gap:2rem;
    align-content: start;
    /* border:1px solid red; */
}
.image-container {
    width:100%;
    height: fit-content;
    min-height: 250px;
    max-height:450px;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 3rem;
}
.image {
    width:100%;
    filter:brightness(85%);
}
.hero-container {
    position: absolute;
    width:95%;
    height:100%;
    max-width: 1080px;
    /* border:1px solid rgb(33, 255, 181); */

}
.box {
    position: absolute;
    bottom:2rem;
    left:0;
    display: flex;
    flex-direction: column;
}
.category, .title, .meta {
    color:white;
    /* border:1px solid rgb(217, 255, 26); */
}
.category {
    /* margin-top: 5rem; */
    font-size: 12px;
    margin-bottom: 1rem;
}
.title {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 1rem;
}
.meta {
    font-size: 12px;
}
.markdown-container {
    /* display:block; */
    width:100%;
    height: 100%;
    margin:auto;
    margin-bottom: 3rem;
    box-sizing: border-box;
    border-radius: 4px;
    word-break: break-word;
    overflow-wrap: break-word;
    /* position: absolute; */
    /* height:auto; */
}
.markdown-preview {
    border:1px solid #cccccc;
    padding:2rem;
    box-sizing: border-box;
    line-height: 1.5rem;
}

.markdown-preview ul,
.markdown-preview ol {
    padding-left: 1.5rem;  /* Adds space for bullet/number */
    margin-left: 0;
    list-style-position: inside; /* Optional: keeps bullets inside content box */
    word-wrap: break-word;
    box-sizing: border-box;
}
.markdown-preview li {
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    /* border:1px solid red; */
}
.markdown-preview img {
    display: block;
    width:100%;
    width:256px; /* default width, can probably edit */
    height: auto;
    margin: 1rem auto;
    object-fit: contain;
}

.markdown-preview table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    font-size: 0.95rem;
    /* border:1px solid red; */
}
  
.markdown-preview th,
.markdown-preview td {
    border:1px solid blue;
    padding: 0.75rem 1rem;
    text-align: left;
    /* border: 1px solid #ccc; */
}
  
.markdown-preview thead {
    background-color: #f9f9f9;
    font-weight: bold;
}
.side-bar {
    position: relative;
    display:block;
    /* border:1px solid coral; */
    width: 100%;
    box-sizing: border-box;
}
.SideBar {
    /* position: absolute;
    top:0;
    left:0;  */
    /* MAYBE SOME IDEAS WITH SCALE */
    /* display: block; */
    /* position:; */
    width: 100%; /* takes full width of parent */
    /* border:1px solid green; */
    box-sizing: border-box;
}
.private-post-message {
    display:flex;
    flex-direction: column;
    width:fit-content;
    padding:6rem;
    margin:3rem 0;
    /* border:1px solid #cccccc; */
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    justify-self: center;
    align-items: center;
}
.private-post-message h1,
.private-post-message p {
    margin-bottom: 1.5rem;
}
.private-post-message button {
    padding:1rem 1.5rem;
    background-color: antiquewhite;
    border:none;
    border-radius: 5px;
    font-weight: 600;
    cursor:pointer;
    transition: 0.3s ease;
}
.private-post-message button:hover  {
    background-color: hsl(34, 100%, 81%);
}


@media (max-width: 1020px) {
    .container {
        grid-template-columns: 1fr;
    }
    .hero-container {
        width: 71.25%;
    }
    .markdown-container {
        margin-bottom: 1.5rem;
        width:75%;
    }
    .markdown-preview {
        max-width: 100%;
        width: 100%;
    }
    .side-bar {
        max-width: 100%;
        justify-content: center;
    }
}