.entry-preview-col {
    /* border:1px solid red; */
    display:flex;
    flex-direction: column;
}

.meta-category {
    font-size: 11px;
    margin-top: .25rem;
    margin-bottom: 1.5rem;
    color:black;
    /* border:1px solid lightseagreen; */
}
.entry-title {
    font-weight: 500;
    margin-bottom: .75rem;
    /* border:1px solid lightgreen; */
}
.meta-post a, .meta-post{
    font-size: 11px;
    color:black;
    text-decoration: none;
}
.meta-category {
    text-decoration: none;
    color:black;
}
.entry-title {
    text-decoration: none;;
    color:black;
    transition: 0.3s ease;
}
.entry-preview-col a {
    transition: 0.3s ease;
}
.entry-preview-col a:hover, .entry-title:hover {
    color:hsl(0, 0%, 60%);
}