.dropdown-container {
    position: relative;
    display: inline-block;
  }
  
.filter-button {
    background: white;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 8px 16px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}
  
.filter-button:hover {
    background: #f5f5f5;
}
.dropdown-menu span {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    justify-content: center;
    margin:8px auto;
    /* border:1px solid red; */
}
  
.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 100;
    /* min-width: 200px; */
    width: fit-content;
    padding: 8px 8px;
    margin-top: 4px;
}
.testing {
    width: 100%;
    height: 100%;
    padding: 8px 8px;
    cursor: pointer;
    border-radius: 8px;
    /* border:1px solid red; */
}
  
.filter-item {
    margin-bottom: 8px;
    border:1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.2s ease, 0.3s ease;
}
  
.filter-item:hover {
    /* background: #f5f5f5; */
    border:1px solid black;
}
.filter-item input[type="checkbox"] {
    display:none;
}
.filter-item.checked {
    border:1px solid black;
    background-color: hsl(0, 0%, 98%);
}
  

.filter-item label {
    display: flex;
    align-items: center;
    /* cursor: pointer; */
    width: 100%;
    gap: 8px;
}

.filter-grid {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    column-gap: 8px;
    width: 300px
}
.filter-item::before {
    position: absolute;
    display: none;
}
.clear-all {
    border:none;
    padding:8px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}
.clear-all:hover {
    background-color: hsl(0, 0%, 96%);
}
.filter-item:active {
    transform: scale(0.975);
}