* {
    margin:0;
    padding:0;
}

.header-grid {
    display:grid;
    margin:auto;
    padding:10px 0;
    grid-template-columns: 1fr 2fr 1fr;
    width:75%;
    max-width: 1080px;
    height:60px;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid hsl(0, 0%, 90%);
    /* border:1px solid red; */
}
.logout {
    /* position: absolute;
    top:0;
    right: 0; */
    display:flex;
    width: fit-content;
    flex-direction: row;
    gap:4px;
    cursor: pointer;
}
.logout-button {
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    /* border:2px solid blue; */
}
.logout i {
    font-size: 18px;
    display: flex;
    align-self: center;
    /* border:1px solid red; */
}
.website-name a {
    text-decoration: none;
    color:black;
    transition: 0.3s ease;
}
.header-grid button {
    padding:2px;
    cursor:pointer;
    width:32px;
    height:32px;
    font-size: 24px;
    align-items: center;
    border:none;
    background-color: transparent;
    /* border:1px solid pink; */
}
.menu-button {
    justify-self: left;

    transition:.3s ease;
}
.menu-button:hover {
    opacity:0.5;
}

.button-group {
    display:flex;
    flex-direction: row;
    position: relative;
    justify-self: right;
    align-items: center;
    list-style-type: none;
    font-size: 16px;
    gap:16px;
    /* border:1px solid purple; */
}
.button-group a {
    display:flex;
    align-items: center;
    justify-content: space-between;
    color:black;
    text-decoration: none;
    /* background-color: hsl(0, 0%, 90%); */
    border-radius: 2px;
    transition: 0.2s ease;
    /* border:1px solid black; */

}
.button-group li {
    display:flex;
    flex-direction: row;
    color:black;
    font-weight: 500;
    text-decoration: none;
    /* background-color: hsl(0, 0%, 90%); */
    border-radius: 2px;
    transition: 0.2s ease;
    /* border:1px solid red; */
    width: fit-content;
}
.blogs-link {
    /* border:1px solid red; */
    display:flex;
    flex-direction: row;
    gap:6px;
    align-items: center;
    /* justify-content: space-between; */
}
.my-blogs {
    display:flex;
    flex-direction: row;
    text-wrap: nowrap;
    gap:4px;
    /* border:1px solid greenyellow; */
}
.button-group li:hover {
    transform: scale(1.01);
}
.profile-button {
    transition:0.3s ease;
}
.profile-button:hover {
    opacity: 0.5;
}
.dark-mode-button {
    position: relative;
    transition:.3s ease;
    bottom: 3px;
}
.dark-mode-button:hover {
    opacity:0.5;
}