@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

/* Global default */
body {
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

/* Specifically override the markdown editor's input + preview areas */
.w-md-editor textarea,
.w-md-editor .w-md-editor-text-pre,
.w-md-editor .w-md-editor-text-input {
  font-family: monospace !important;
  white-space: pre-wrap;
  word-break: break-word;
}

.main-container {
    /* border:1px solid red; */
    width:75%;
    max-width: 725px;
    margin:auto;
    letter-spacing: .05rem;
    word-spacing: .1rem;
}
.main-container2 {
    width:100%;
    padding-top:3rem;
    /* max-width: 725px; */
    margin:auto;
    letter-spacing: .05rem;
    word-spacing: .1rem;
    background-color: hsl(220, 20%, 98%);
}