:global(.MuiBox-root.css-0 > .MuiBox-root.css-whu3bg) {
  display: none !important;
}
.navbar-container {
    display:flex;
    background-color: white;
    filter: brightness(100%);
}
.drawer {
    min-width: none;
}
.menu-icon {
    position: relative;
    /* width: 300px; */
    min-width: none;
    padding:1rem;
    transform: translateX(5px);
    align-items: center;
    /* border:1px solid red; */
}
.menu-icon a {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    /* border:1px solid red; */
    font-size: 26px;
    font-weight: 600;
    color:black;
    text-decoration: none;
}
.list-items a {
    color:black;
    font-size: 14px;
    padding:4px 2rem;
    /* border:1px solid red; */
}
.list-items span {
    font-size: 16px;
    /* border:1px solid red; */
}
.list-items p {
    margin:0rem 2rem 0.25rem 2rem;
    font-size: 14px;
    font-weight: 500;
}
.list-items p:not(:first-child) {
    padding-top:1rem;
    margin-top:1.25rem;
    border-top: 1px solid #cccccc;
}

.list-icons {
    display:flex;
    /* justify-content: center; */
    min-width: 16px !important;
    /* border:1px solid red; */
    margin-right: 0.5rem;
  }
  
.list-icons svg {
    padding: 0;
    margin: 0;
    /* border:1px solid red; */
}
.menuItem {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    /* padding: 12px 16px; */
    border-radius: 8px;
    transition: background 0.3s ease;
    color: #333;
  }
  
  .menuItem:hover {
    background-color: rgba(250, 235, 215, 0.3); /* subtle antiquewhite hover */
    color: #000;
  }
