.share-grid {
    display:flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 12px;
    gap:4px;
    color: hsl(0, 0%, 70%);
}
.share {
    width:80px;
    height:24px;
    display:flex;
    flex-direction: row;
    gap:15px;
    align-items: center;
    transition: 0.3s ease;
    /* border:1px solid red; */
}
.share:hover {
    gap:17.5px;
}
.right-arrow {
    font-size: 12px;
    font-weight: normal;
}
.icons {
    display:flex;
    flex-direction: row;
    gap:18px;
    align-self: center;
    /* border:1px solid orange; */
    font-size: 20px;
}
.icons a {
    color:black;

}
.facebook-icon {
    transition: 0.3s ease;
}
.facebook-icon:hover {
    color:#1877F2;
}
.twitter-icon {
    transition: 0.3s ease
}
.twitter-icon:hover {
    color:#1DA1F2;
}
.pinterest-icon {
    transition: 0.3s ease;
}
.pinterest-icon:hover {
    color: #E72B1C;
}
