.main-container {
    width: 100%;
    max-width:350px;
    box-sizing: border-box;
    margin:auto;
    margin-bottom: 6rem;
    /* border:1px solid red; */
}
.main-container h5 {
    font-weight: 500;
}

@media (min-width: 1021px) {
    .side-bar {
        position: sticky;
        top: 2rem; /* adjust based on desired spacing from top */
        align-self: start; /* ensures it sticks at top of its column */
        height: fit-content;
    }
}
