.trending-posts-container {
    width:100%;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid hsl(0, 0%, 90%);
    box-sizing: border-box;
    /* border:1px solid orange; */
    
}
.label {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 2rem;
}
.trending-posts-grid {
    width:100%;
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: .75rem 2.5rem;
    box-sizing: border-box;
    /* border:1px solid red; */
}

@media (max-width: 768px) {
    .trending-posts-container {
        /* margin:1rem; */
        padding:1rem;
        /* border:1px solid #eee; */
        /* border-radius: 8px; */
    }
    .trending-posts-grid {
        /* gap:2rem; */
        /* grid-template-columns: none;
        grid-template-rows: repeat(4, 1fr); */
        /* gap:0; */
        /* border-radius: 8px; */
        /* border:3px solid greenyellow; */
        /* overflow: hidden; */
    }
}

@media (max-width: 450px) {
    .trending-posts-grid {
        grid-template-columns: none;
        grid-template-rows: repeat(4, 1fr);
    }
}
