.blog-grid button {
    display:flex;
    justify-content: center;
    text-align: center;
    margin:auto;
    margin-bottom: 3rem;
    padding:8px;
    width:120px;
    height:40px;
    align-items: center;
    border:none;
    cursor:pointer;
    font-weight: 600;
    letter-spacing: .1rem;
}