body h5 {
    font-size: 14px;
    margin-bottom: 2.5rem;
}
.container {
    width:100%;
    margin:auto;
    margin-bottom: 3rem;
    /* border:1px solid orange; */
}
.flex-box {
    display: flex;
    flex-direction: column;
}
.grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-self: center;
    text-align: center;
    justify-items: center;
    column-gap:3rem;
    /* border:1px solid blue; */

}
.grid span {
    font-size: 12px;
}
a {
    /* color:black; */
}
.facebook-icon {
    transition: 0.3s ease;
}
.facebook-icon:hover {
    color:#1877F2;
}
.twitter-icon {
    transition: 0.3s ease;
}
.twitter-icon:hover {
    color:#1DA1F2;
}
.pinterest-icon {
    transition: 0.3s ease;
}
.pinterest-icon:hover {
    color: #E72B1C;
}
.instagram-icon {
    transition: 0.3s ease;
}
.instagram-icon:hover {
    color: #C13584;
  }
.youtube-icon {
    transition: 0.3s ease;
}
.youtube-icon:hover {
    color: #FF0000;
}
.columns {
    display:flex;
    /* border:1px, solid, lightcoral; */
    align-items: center;
    justify-content: center;
}
.columns a {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color:black;
    text-decoration: none;
}