.share-grid {
    display:grid;
    grid-template-columns: 1fr 3fr;
    font-weight: 500;
    font-size: 12px;
    color: hsl(0, 0%, 70%);
}
.share {
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:15px;
    /* border:1px solid red; */
    align-items: center;
    transition: 0.3s ease;
}
.share:hover {
    gap:17.5px;
}
.right-arrow {
    font-size: 12px;
    font-weight: normal;
}
.icons {
    display:grid;
    grid-template-columns: min-content min-content min-content;
    gap:18px;
    align-self: center;
    /* border:1px solid orange; */
    font-size: 20px;
}
.icons a {
    color:black;

}
.facebook-icon {
    transition: 0.3s ease;
}
.facebook-icon:hover {
    color:#1877F2;
}
.twitter-icon {
    transition: 0.3s ease
}
.twitter-icon:hover {
    color:#1DA1F2;
}
.pinterest-icon {
    transition: 0.3s ease;
}
.pinterest-icon:hover {
    color: #E72B1C;
}