.main-container {
    padding-bottom: 3rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid hsl(0, 0%, 90%);
}

.container {
    /* border:1px solid red; */
    padding:36px;
    background-color: hsl(0, 0%, 95%);
}
.label {
    display:block;
    font-size: 12px;
    font-weight: 500;
    margin-bottom:2rem;
}
.info {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2rem;
    color:hsl(0, 0%, 45%);
}
.form {
    /* display:flex; */
    width:100%;
    /* border:1px solid green; */
}
.input-container{
    display:flex;
    margin-bottom: 2rem;
    height:fit-content;
    /* border:.1px solid blue; */
    align-items: center;
}
.input-email {
    width:80%;
    height:40px;
    box-sizing: border-box;
    padding-left: 1rem;
    border:1px solid hsl(0, 0%, 90%);
    outline: none;
}
.form input[type="submit"] {
    width:20%;
    box-sizing: border-box;
    /* padding:11.75px; */
    height:40px;
    border:none;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .1rem;
    cursor:pointer;
}

.disclaimer {
    display:inline;
    font-size: 10px;
    text-transform: uppercase;
    color:hsl(0, 0%, 75%);
}
.disclaimer a {
    color:hsl(0, 0%, 70%);
}
.disclaimer a:visited {
    color:hsl(0, 0%, 70%);
}